@import url('https://fonts.googleapis.com/css?family=Montserrat');

*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing:  border-box;
}

body {
  margin: 0;
}

.form-group {
  margin: 5px;
  padding: 5px;
}

.post-form {
  position: -webkit-sticky;
  position: sticky;
}

.form-group > input, .form-group > textarea, .form-group > button {
  display: block;
  border-radius: 5px;
  width: 100%;
}

.form-group > button {
  background-color: lime;
}

.form-group > label {
  display: block
}

.main-container {
  display: flex;
  min-height: calc(100vh - 119px);
}

.sticky-toolbar-spacer {
  display: block;
  width: 100%;
  padding-top: 60px;
}

.posts-container {
  overflow:  auto;
  flex-grow: 80;
}

.right-sidenav {
  flex-grow: 20;
  background-color: lightgrey;
}

footer {
  padding:          20px;
  background-color: gray;
  color:            white;
}

img.avatar {
  display:       block;
  width:         40px;
  height:        40px;
  object-fit:    cover;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.toolbar {
  display:          flex;
  position:         fixed;
  z-index:          1;
  width:            100%;
  min-height:       60px;
  justify-content:  space-between;
  align-items:      center;
  background-color: blue;
  padding:          10px;
  color:            white;
}

.menu-icon {
  padding-right: 12px;
  width: 40px;
  height: 40px;
}

.toolbar-spacer {
  flex-grow: 1;
}

.post {
  background-color: whitesmoke;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 20px;
  padding: 10px;
  position: relative;
}
